<div class="content">
    <h2>¿Qué permite la implementación de un interceptor?</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus nec magna dictum vehicula vel finibus libero. Aenean tincidunt sodales sodales. Nam vitae elit arcu. Suspendisse at dapibus risus, sed volutpat ex. Aliquam erat volutpat. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas suscipit molestie sem, a finibus ex.
    </p>
    <h2>¿Cuándo implementar un guard?</h2>
    <p>
        Donec porttitor malesuada ex, ut cursus orci gravida in. Sed egestas ex sit amet dictum ultricies. Curabitur pharetra risus id ipsum fermentum sollicitudin eu at mauris. Fusce semper dui est, id pretium turpis feugiat eget. Mauris dignissim consequat
        libero, vel pretium diam suscipit vel. Quisque vel ex sed ex condimentum molestie non sit amet augue. In fermentum sem vitae interdum ullamcorper. Nam iaculis pharetra ipsum at dignissim. Phasellus tincidunt sagittis molestie. Donec sed fermentum
        purus, ac mattis risus. Maecenas consequat semper ante. Sed id molestie nunc, at luctus ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sed commodo nulla. Vestibulum ac leo est.
    </p>
    <h2>¿Qué son una prueba unitaria, una prueba de servicio y una prueba de componente?</h2>
    <p>
        Nulla ut sapien non turpis venenatis viverra non quis augue. Nunc sodales sit amet elit nec hendrerit. Praesent mollis tristique ullamcorper. Nam mi ipsum, viverra eu tellus vitae, egestas luctus ligula. Nunc convallis quis ante at sollicitudin. Integer
        tortor tellus, interdum eu malesuada sit amet, imperdiet ut arcu. Nunc in laoreet nisi, at blandit libero. Fusce sit amet luctus nisl. Suspendisse potenti. Aenean facilisis nibh quis volutpat bibendum.
    </p>
    <h2>Manejo de los estados de las variables dentro de un componente y las funcionalidades de los componentes.</h2>
    <p>
        Vivamus sit amet tincidunt ante. Sed eros lorem, elementum quis interdum vitae, sagittis a lectus. Pellentesque mattis mauris vitae maximus aliquam. Vivamus eu mi tincidunt, posuere nulla nec, tincidunt nisl. Donec aliquam blandit erat congue maximus.
        Nam quis libero mauris. Morbi gravida nibh id sollicitudin hendrerit. Donec pretium velit ante, eget tincidunt orci porttitor nec. Proin at ullamcorper tortor.
    </p>
</div>